/*
    Colors
    - #ff5000 orange-red
    - #00afff blue
    - #001620 dark-blue
    - #dff5ff light-blue

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Comfortaa", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        text-transform: capitalize;
    overflow-x: hidden;
    color: #001620;
    background-color: #001620;
    
}

body {
    position: relative;
    padding: 5rem 5%;
    background-color: #001620;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    overflow: hidden;
}
    h1, h2, h3, h4, h5, h6, label {
        text-align: center;
            font-style: normal;
            font-weight: 300;
    }

    h1 {
        font-size: 3rem;
            font-weight: 500;
            color: #004260;
            text-transform: none;
    }

    h2 {
        font-size: 3rem;
            font-weight: 400;
            color: #9fe1ff;
    }

    h3, th {
        font-size: 2.5rem;
        color: #dff5ff;
    }

    h4, label {
        text-align: left;
        font-size: 2.2rem;
        color: #dff5ff;
    }

    h5 {
        text-align: left;
        font-size: 1rem;
    }

    p {
        font-family: "Nunito", "Arial", sans-serif;
            font-size: 1.15rem;
            font-style: normal;
            font-weight: 300;
            text-transform: none;
            line-height: 1.6rem;
    }

    li {
        list-style-type: none;
    }

    a {
        color: inherit;
            text-decoration: none;
            cursor: pointer;
    }

    footer {
        position: absolute;
        right: 0; bottom: -2rem; left: 0;
        width: 100%; height: 5rem;
        background: radial-gradient(farthest-side, #006d9f, #001620);
    }

/* --- Responsive --- */
@media only screen and (max-width: 1450px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 942px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 746px) {
    body {
        padding: 1.66rem 5%;
    }
}

@media only screen and (max-width: 446px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 10px;
    }
}