/*
    Colors
    - #ff5000 orange-red
    - #00afff blue
    - #001620 dark-blue
    - #dff5ff light-blue
    - $70858f grey-blue

*/

.info {
    display: flex;
    margin: 0 auto;
        padding: 1rem 0.5rem;
        border-radius: 1rem;
        max-width: 60rem; height: 25rem;
    background-color: #dff5ff;
    box-shadow: #70858f 0 0.4rem 0;
}
    .left {
        position: relative;
            margin: 0 1rem;
            padding-top: 0.5rem;
            width: 40rem; height: 23rem;
            min-width: 20rem; max-width: 40rem;
    }
        .left p {
            margin: 0.5rem 0;
            text-align: justify;
        }

        .references-container {
            position: absolute;
                bottom: 0.5rem;
                padding: 0 0rem;
                border-radius: 1rem;
                width: 100%; height: 2.5rem;
            display: flex;
            justify-content: space-between;
        }
            .skills-container {
                display: flex;
                justify-content: flex-start;
            }
                i {
                    margin-right: 1.5rem;
                    font-size: 2.5rem;
                    color: #608b9f;
                }
                    .fa-paintbrush {
                        align-self: center;
                        font-size: 2rem;
                    }
                
            .links-container {
                display: flex;
                justify-content: flex-end;
            }
                .so {
                    display: flex;
                    align-items: center;
                }
                    .so .fa-solid {
                        margin-right: 0;
                        font-size: 2rem;
                        color: #4097bf;
                    }

                .fa-github {
                    margin: 0 0 0 1.5rem;
                    color: #4097bf;
                }
                    .fa-github:hover, 
                    .so .fa-solid:hover {
                        cursor: pointer;
                    }

    .right {
        margin: 0 0.5rem;
            border-radius: 1rem;
            width: 18rem; height: 23rem;
            min-width: 18rem;
        overflow: hidden;
    }
        .info img {
            width: 105%;
        }

.projects {
    margin-top: 10rem;
}
    .projects h2 {
        margin-bottom: 5rem;
    }

    .project {
        position: relative;
        margin: 0 auto 5rem;
            border-radius: 1rem;
            max-width: 40rem; height: 20rem;
        overflow: hidden;
        cursor: pointer;
    }
        .project img {
            width: 100%;
            filter: brightness(90%);
        }

        .project h3 {
            position: absolute;
            margin: 0 0.5rem;
            right: 0; bottom: 4rem; left: 0;
        }
        
        #bikeshopSeeboden h3 {
            color: #e5ffdf;
        }
        
        #findYourHat {
            background-color: #001828;
        }
            #findYourHat img {
                filter: brightness(100%) saturate(200%);
            }

            #findYourHat h3 {
                top: 4rem; right: 4rem; bottom: auto; left: auto;
                color: #e1e0e6;
            }
            
            #findYourHat h4 {
                position: absolute;
                font-family: "VT323";
                top: 8rem; right: 4rem;
                color: #becf30;
            }


            

/* --- Responsive --- */
@media only screen and (max-width: 1068px) {

}

@media only screen and (max-width: 746px) {
    .info {
        flex-wrap: wrap-reverse;
        max-width: 40rem; height: 50rem;
    }
        .right {
            margin: 0 auto;
        }
}

@media only screen and (max-width: 446px) {
    #bikeshopSeeboden {
            display: flex;
            justify-content: center;
        }
        #bikeshopSeeboden img {
            width: auto; height: 105%;
        }

    #findYourHat img {
        width: auto; height: 100%;
    }
}

@media only screen and (max-width: 392px) {
    .left, .right {
        min-width: auto;
    }
}